@use "themes/variables.scss" as var;

html,
body {
  height: 100%;
  background-color: var.$background;
  color: var.$text-1;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
