@use "../../../themes/variables.scss" as var;

:host {
  height: 100%;
  width: 20rem;
  background-color: var.$menu-background;
}

section {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:first-child {
    border-top: 1px solid #a3a3a3;
  }

  border-bottom: 1px solid #a3a3a3;

  &:hover {
    background-color: #3c3b3b;

    label {
      opacity: 1;
    }
  }

  label {
    opacity: 0.7;
  }
}
