:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2 {
  align-self: center;
}

section {
  align-self: center;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.season-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  button {
    max-width: fit-content;
    color: white;
  }
}

button div {
  display: flex;
  align-items: center;
}
